<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mylaneza.jamarte">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Miembros"
            android:label="@string/strMiembros"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ProgressScreen"
            android:label="@string/strAvances"
            android:parentActivityName=".Miembros" />
        <activity
            android:name=".Steps"
            android:label="@string/strPasos"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Sesiones"
            android:label="@string/strSesiones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SesionesEstudiantes"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".Sequences"
            android:label="@string/strSecuencias"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".forms.NewProgress"
            android:parentActivityName=".ProgressScreen" />
        <activity
            android:name=".forms.NewStep"
            android:label="@string/strPaso"
            android:parentActivityName=".Steps" />
        <activity
            android:name=".forms.NewAssistanceList"
            android:label="@string/strNuevoAsistente"
            android:parentActivityName=".SesionesEstudiantes"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".forms.NewSession"
            android:label="@string/strSesion"
            android:parentActivityName=".Sesiones" />
        <activity
            android:name=".forms.NewMember"
            android:label="@string/strMiembro"
            android:parentActivityName=".Miembros" />
        <activity
            android:name=".forms.NewSequence"
            android:label="@string/strSecuencia"
            android:parentActivityName=".Sequences" />
        <activity
            android:name=".forms.NewLesson"
            android:label="@string/strLeccion"
            android:parentActivityName=".Lessons" />
        <activity
            android:name=".Lessons"
            android:label="@string/strLecciones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListaAvances"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QueryAct"
            android:theme="@style/Theme.MaterialComponents.DayNight.Dialog" />
        <activity android:name=".SecuenciaPasos"
            android:label="@string/strPasosSecuencia"/>
        <activity android:name=".forms.NewStepInSequence"
            android:label="@string/strPaso"></activity>
    </application>

</manifest>